github-copilot
lite-xl
libreoffice
HTTPie
htop
QtProject.conf
ptpython
wireshark
vscode-sqltools
VirtualBox
user-dirs.locale
user-dirs.dirs
totem
sublime-text
menus
monitors.xml
mimeapps.list
gtk-3.0
gtk-4.0
eog
enchant
evolution
gedit
cef_user_data
appimagelauncher.cfg
warp-terminal
systemd
pypoetry
pritunl
picom.conf
pavucontrol.ini
ngrok
neofetch
jgit
configstore
autostart
Slack
.gsd-keyboard.settings-ported
google-chrome
BraveSoftware
Todoist
Insomnia
Code/Cache
Code/CachedData
Code/CachedExtrnsionVSIXs
Code/logs
